@charset "UTF-8";

.background {
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #333; /* Kolor tła nagłówka */
    color: #fff; /* Kolor tekstu */
    padding: 10px; /* Wewnętrzne marginesy */
    text-align: start; /* Wyrównanie tekstu do środka */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cień */
    width: 100%;
    height: auto;
}

footer {
    background-color: #333; /* Kolor tła stopki */
    color: #fff; /* Kolor tekstu */
    padding: 2px; /* Wewnętrzne marginesy */
    text-align: start; /* Wyrównanie tekstu do środka */
    position: fixed; /* Stałe umiejscowienie na dole ekranu */
    left: 0; /* Odległość od lewej krawędzi */
    bottom: 0; /* Odległość od dolnej krawędzi */
    width: 100%; /* Szerokość stopki */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Cień */
    height: auto;
}

.name {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace; /* Wybór czcionki */
    font-size: 22px; /* Rozmiar czcionki */
    color: mediumturquoise; /* Kolor tekstu */
    text-transform: uppercase; /* Konwersja na duże litery */
    letter-spacing: 2px; /* Odstępy między literami */
    text-align: left; /* Wyrównanie tekstu do środka */
    margin-bottom: 20px; /* Margines na dole */
    align-items: center;
}

.logreg {
    text-align: end;
    margin-right: 30px;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}