{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body class="background body">
    <!-- Navigation -->
    <header>
    <nav class="header">
        <div>
            <a class="name">ComputerShop</a>
            <div class="logreg">
                <a>Login</a>
                <a>Registration</a>
            </div>
        </div>
    </nav>
    </header>
    {% block content %}
    {% endblock %}
    <section>
        {% if latest_products %}
        <div class="carousel">
            {% for product in latest_products %}
                <div class="carousel-item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                </div>
            {% endfor %}
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.carousel').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1
                            }
                        }
                    ]
                });
            });
        </script>
    {% else %}
        <p>Brak produktów w bazie danych.</p>
    {% endif %}
    </section>
    <footer>
        <p>Address: Białystok</p><p>ul. Lipowa 22/2</p><p>Kontakt: 85-127-23-48</p>
    </footer>
</body>
</html>